body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    padding-right: 20px;
    /* border-bottom: 1px solid #8080805f; */
}

nav ul{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 12px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #535252;
}

/* add extra design */
.icon{
    color: gray;
    padding: 10px;
    font-size: 20px;
}

.sign-in{
    padding: 8px 10px;
    color: white;
    background-color: #0b57d0;
    border: 1px solid #0b57d0;
    border-radius: 4px; 
    cursor: pointer;
}

.icon:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: #e8e8e8;
}

nav ul li a:hover{
    border-bottom: 1px solid gray;
}

/* main section start here */
main img{
    width: 10px;
}
